.mealSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.133);
    position: relative;
}

.mealSectionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}